@font-face {
  font-family: Inter;
  src: url(assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: Interlight;
  src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: regular;
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}
.nav__toggle {
  display: none;
}

body {
  padding: 20px 50px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  align-items: center;
}
.nav-item:hover {
  color: hsl(5, 90%, 45%);
}
nav {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.nav-lists {
  list-style-type: none;
  display: flex;
}
.nav-lists li a {
  padding: 0 1em;
  text-decoration: none;
  color: hsl(230, 3%, 47%);
}
.nav-lists li a:hover {
  color: hsl(182, 87%, 50%);
}
.gridsys {
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.2fr;
  grid-template-areas:
    "firstImg firstImg sidey"
    "header para sidey"
    "card1 card2 card3";
}
h1 {
  font-weight: bold;
  font-family: Inter;
  grid-area: header;
  font-size: 4rem;
}
p {
  font-family: Interlight;
  color: hsl(230, 3%, 56%);
  padding-top: 10px;
  margin-bottom: 1em;
  font-size: 1.2rem;
}
.card-detail {
  font-family: regular;

  color: hsl(230, 3%, 47%);
}
button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Inter;
  cursor: pointer;
  font-family: regular;
}
button:hover {
  background-color: hsl(5, 85%, 73%);
}
.IMG {
  min-width: 248px;
  width: 100%;
  height: 100%;
}
.first-img {
  grid-area: firstImg;
}
.side-bar {
  grid-area: sidey;
}
.intro {
  grid-area: para;
  margin-bottom: 2.5em;
}

.card1 {
  display: flex;
  grid-area: card1;
}
.card2 {
  display: flex;
  grid-area: card2;
}
.card3 {
  display: flex;
  grid-area: card3;
}
.IMG1 {
  width: 100%;
  height: 100%;
}
.card_imgContainer1 {
  flex: 2;
}
.card_imgContainer2 {
  flex: 2;
}
.card_imgContainer3 {
  flex: 2;
}

.card-content {
  flex: 2.5;
  padding: 3px 40px;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
h4 {
  font-size: 3.4rem;
  color: hsl(236, 13%, 42%);
  margin-bottom: 20px;
}
.card-detail {
  font-size: 1.3rem;
}
.side-bar {
  background-color: hsl(240, 100%, 5%);
  color: white;
}
.deco {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  padding: 20px;
  font-family: Inter;
}
h3 {
  padding: 20px;
}
.side-bar > p {
  padding: 0px 20px;
}
hr {
  margin: 20px;
}

.hr1 {
  margin: 20px;
  color: hsl(45, 5%, 16%);
}

.attribution {
  margin-top: 50px;
  font-size: 2rem;
}

@media (max-width: 1060px) {
  .gridsys {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
  }
  h1 {
    font-size: 2.5rem;
  }

  .nav-lists {
    display: none;
  }
  .nav__toggle {
    display: block;
    position: absolute;
    left: 85%;
  }
  span.hamburger {
    color: black;
    font-weight: bold;
    font-size: 4rem;
    background-color: white !important;
    padding: 10px 20px;
  }
  button.nav__toggle {
    padding: 0;
  }
  .nav__toggle :hover {
    color: green;
  }
}
